.content {
  text-align: center;
  font-family: "PT Sans", sans-serif;
  background-image: linear-gradient(to top, #ebc0fd 0%, #d9ded8 100%);
  color: #001628;
}
.main-content {
  min-height: 79.8vh;
}
